//@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #eff0f1;
}

.card-container{
  align-items: flex-start;
  background: #F6F7FA;
  display: flex;
  flex-direction: column;
  //gap: 20px;
  overflow: hidden;
  padding: 8px;
  position: relative;
  width: 290px;
  box-sizing: border-box;

/* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}


:root{
--black:rgba(0, 0, 0, 1);
--eerie-black: rgba(28, 29, 31, 1);
--purple-heart: rgba(85, 44, 246, 1);
--nevada: rgba(87, 109, 121, 1);
--raven: rgba(112, 121, 139, 1);
--manatee-2: rgba(139, 146, 165, 1);
--manatee: rgba(153, 158, 167, 1);
--charlotte: rgba(184, 238, 255, 1);
--loblolly: rgba(190, 198, 208, 1);
--iron: rgba(213, 217, 222, 1);
--mabel: rgba(216, 241, 255, 1);
--alto: rgba(217, 217, 217, 1);
--tara: rgba(218, 248, 231, 1);
--snuff: rgba(223, 222, 233, 1);
--athens-gray: ■rgba(233, 236, 243, 1);
--blue-chalk: rgba(235, 231, 255, 1);
--athens-gray-2: ■rgba(240, 240, 245, 1);
--black-haze: rgba(246, 247, 250, 1);
--white-lilac: ■rgba(247, 248, 251, 1);
--pig-pink: rgba(254, 213, 227, 1);
--tulip: rgba(255, 145, 142, 1); 
--cherokee: rgba(255, 222, 155, 1);
--white: rgba(255, 255, 255, 1);

--font-size-xs: 9px; 
--font-size-s: 10px; 
--font-size-m: 11px;
--font-size-l: 12px;
--font-size-ll: 13px;
--font-size-xl: 14px;
--font-size-xxl: 24px;
--font-size-xxxl: 36px;
--font-size-s2: 9px;
--font-family-comfortaa: "Comfortaa";
--font-family-comfortaa-semibold: "Comfortaa-SemiBold";
--font-family-inter: "Inter";
--font-family-roboto: "Roboto";
}

.kanban-card {
  align-items: flex-start;
  background-color: var(--white);
  border-radius: 10px;
  box-shadow: 1px 2px 8px #0000000f; display: flex; flex-direction: column;
  gap: 10px;
  overflow: hidden;
  padding: 18px; 
  position: relative; 
  width: 238px;
  margin-bottom: 18px;
}

.text_header {
  align-self: stretch;
  color: var(--black);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-ll);
  font-weight: 400; letter-spacing: -0.42px;
  line-height: 19px;
  margin-top: -1px; 
  position: relative;
  margin-block-start: 0em;
  margin-block-end: 0em;
}

.text_content{
  align-self: stretch;
  color: var(--raven); 
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-l); 
  font-weight: 400; 
  letter-spacing: -0.36px; 
  line-height: 18px; 
  position: relative;
  margin-block-start: 0em;
  margin-block-end: 0em;
}

.informers {
  align-items: center; 
  align-self: stretch; 
  display: flex; 
  gap: 10px; 
  position: relative; 
}
  
.icon-informer {
  align-items: center;
  display: flex;
  gap: 4px;
  height: 13px; 
  position: relative; 
  width: 41px;
}
  
.notification-number {
  letter-spacing: 0; 
  line-height: 12px; 
  margin-top: -0.5px; 
  position: relative; 
  white-space: nowrap; 
  width: fit-content;
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-s);
}

.footer { align-items: center; display: flex; gap: 9px;
    align-self: stretch;
    background-color: transparent;
    height: auto; position: relative;
}
    
.date {
    align-items: flex-start; background-color: var(--tulip); border-radius: 3px; display: flex; gap: 10px; padding: 3px 4px; position: relative; width: fit-content;
    }

.address {
    color: var(--white);
    font-family: var(--font-family-roboto);
    font-size: var(--font-size-s);
    font-weight: 500;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1px; 
    position: relative;
    width: fit-content;
  }
  
.members {
  align-items: flex-start;
  display: flex;
  flex: 1;
  justify-content: flex-end;
  position: relative; 
}
  
.ellipse-1 {
  height: 24px;
  margin-bottom: -1px; 
  margin-top: -1px; 
  min-width: 24px; 
  object-fit: cover; 
  position: relative;
}

.ellipse-2 {
  height: 24px;
  margin-bottom: -1px; margin-left: -9px;
  margin-right: -1px;
  margin-top: -1px;
  min-width: 24px;
  object-fit: cover;
  position: relative;
}

.tags {
  align-items: flex-start;
  align-self: stretch;
  gap: 6px;
  display: flex; position: relative;
  padding: 4px 0px;
}

.rectangle-44 {
  background-color: var(--pig-pink); border-radius: 3px; height: 6px; min-width: 43px; position: relative;
  }
  
.rectangle-45 {
  background-color: var(--blue-chalk); height: 6px;
  border-radius: 3px;
  min-width: 43px;
  position: relative;
}
  
.rectangle-46 {
  background-color: var(--tara);
  border-radius: 3px;
  height: 6px;
  min-width: 43px;
  position: relative;
  }
  
.rectangle-47 {
  background-color: var(--mabel); border-radius: 3px; min-width: 43px; position: relative;
  height: 6px;
  }
  
.rectangle-48 {
  background-color: var(--charlotte); border-radius: 3px; height: 6px; min-width: 43px; position: relative;
}
  
.frame-580679481 {
  align-items: center;
  align-self: stretch; 
  display: flex;
  flex: 1;
  gap: 10px;
  justify-content: flex-end;
  position: relative;
}

.frame-580679477 {
  align-items: flex-start; 
  display: flex; 
  gap: 1px; 
  position: relative;
  width: fit-content;
  }
  
.ellipse-1-1 {
  background-color: var(--tulip); 
  border-radius: 3px; 
  height: 6px; 
  min-width: 6px; 
  position: relative; }

.ellipse-1-2 {
  border-radius: 3px;
  height: 6px;
  background-color: var(--alto); 
  min-width: 6px;
  position: relative;
}

.date-badge {
  align-items: flex-start; 
  background-color: var(--iron); 
  border-radius: 3px; 
  display: flex; 
  gap: 10px; 
  padding: 3px 4px; 
  position: relative; 
  width: fit-content; 
}
  
.badge_text {
  letter-spacing: 0; 
  line-height: normal; 
  position: relative; 
  width: fit-content; 
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-s);
}

.date-badge.starting {
  background-color: var(--iron);
}

.date-badge.ending {
  background-color: var(--cherokee);
}

.date-badge.deadline {
  background-color: var(--tulip);
}